# Runtime environment config
src/assets/config.json

# Environment files
.env

# Node dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Build output
dist/
out-tsc/
tmp/
bazel-out/

# Angular cache
.angular/cache/

# Coverage reports
coverage/

# IDE/editor folders
.idea/
.vscode/
.history/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
__screenshots__/

# System files
.DS_Store
Thumbs.db
